# IP address of SQL server
host = "1.2.3.4"

# Username
user = "user_name"

# Password
password = "password"

# Path to utility repository
util_path = "/path/to/utilities"

# Path to data sets
data_path = "/path/to/data"
